<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <title>Text Summarizer</title>
</head>
<body>

    <div class="main-body">
        <h1>Text Summarizer</h1>
        <form action="/" method="POST">
            <textarea id="inp" name="inp" rows="20" cols="50" placeholder="Enter text">{{data}}</textarea>
            <button type="submit" class="button-two"><span>Summarize</span></button>
        </form>
        <p class="summary"> Summary : {{val}}</p>
     </div>
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
     </div>
    
</body>
</html>